@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}

@layer utilities {
  .button {
    @apply mx-4;
    @apply my-2;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 230, 230, 230;
  --background-end-rgb: 230, 230, 230;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .throbber {
    border: 4px solid rgba(255, 255, 255, 0.6);
    border-top: 4px solid blue;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
    /* margin-top: 8px; */
  }

  .throbber-wrapper {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
  }

  .throbber-wrapper .throbber {
    margin-top: 8px; /* Add space above the throbber */
  }

  .button + .throbber-wrapper {
    height: 44px; /* Adjust the height to fit the throbber */
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
